.subscribe-button {
      background-color: rgb(200, 0, 0);
      color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      transition: opacity 0.15s;
      padding: 10px 16px 10px 16px;
    }

    .subscribe-button:hover {
      opacity: 0.8;
    }

    .subscribe-button:active {
      opacity: 0.5;
    }

    .join-button {
      background-color: white;
      border-color: rgb(29, 161, 242);
      border-radius: 2px;
      color: rgb(29, 161, 242);
      border-style: solid;
      border-width: 1px;
      padding: 9px 16px 9px 16px;
      cursor: pointer;
      margin-right: 8px;
      transition: background-color 0.15s,
        color 0.15s;
    }

    .join-button:hover {
      background-color: rgb(29, 161, 242);
      color: white;
    }

    .join-button:active {
      opacity: 0.7;
    }

    .tweet-button {
      background-color: rgb(29, 161, 242);
      color: white;
      border: none;
      height: 36px;
      width: 74px;
      border-radius: 18px;
      font-weight: bold;
      cursor: pointer;
      font-size: 15px;
      transition: box-shadow 0.15s;
    }

    .tweet-button:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }